/* Other rules */
* {
  box-sizing: border-box;
}

body {
  background-color: #1f2023;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 8vh;
  letter-spacing: 1.5px;
  margin-top: 30px;
  text-align: center;
  font-weight: 600;
}

h2 {
  font-size: 5vh;
}

h3 {
  font-size: 3vh;
  font-weight: 500;
}

/* Header */

header {
  border-bottom: #ff4655 2px solid;
  padding: 15px 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
}

.header-wrapper img {
  width: 4.5vw;
}

.header-wrapper h2 {
  font-weight: 600;
}

.header-wrapper div {
  display: flex;
  align-items: center;
}

nav {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.avatar {
  height: 60px !important;
  width: 60px !important;
  object-fit: contain;
  cursor: pointer;
}

header button {
  font-size: 3.5vh;
  padding: 5px 15px;
  background-color: #1f2023;
  border: 1px solid #1f2023;
  color: white;
  cursor: pointer;
}

.login-button {
  background-color: #ff4655;
  border: 1px solid #ff4655;
  border-radius: 10px;
}
/* main */

main {
  width: 90vw;
  margin: 0 auto;
}

.searching-input {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.searching-input input {
  height: 60px;
  width: 25%;
  padding: 0 10px;
  font-size: 3.5vh;
  border: 1px solid #1f2023;
  border-radius: 5px;
}

.allGames {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.game {
  width: calc((100% / 5) - 16px);
  height: 300px;
  border: 1px solid #202020;
  border-radius: 10px;
  background-color: #151515;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.game img {
  height: 80%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.titleContainer {
  width: 100%;
  height: 20%;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.pagination {
  margin: 20px auto;
  text-align: center;
}

.pagination button {
  background-color: black;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  padding: 7px 10px 5px 10px;
  font-size: 3vh;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 1s, color 1s, transform 1s;
}

.pagination button:hover {
  background-color: #fff;
  color: black;
}

/* detail */

.detail-wrapper {
  width: 90vw;
  padding-top: 50px;
  margin: 0 auto;
}

.detail-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.detail-container h2 {
  margin-bottom: 10px;
}

.game-detail-container {
  width: 100%;
  display: flex;
  gap: 20px;
}

.game-detail-container img {
  width: 35%;

  border: 1px solid #151515;
  border-radius: 10px;
  object-fit: cover;
}

.detail-game {
  margin-top: 10px;
  width: 65%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.detail-button-container {
  width: 100%;
}

.detail-button-container button {
  background-color: #151515;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  font-size: 2.5vh;
  cursor: pointer;
}

.detail-button-container button:nth-child(1) {
  margin-right: 25px;
}

.detail-info-container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  gap: 30px;
  font-size: 3vh;
}

.detail-info-container span {
  font-size: 2.3vh;
}

.col-1 {
  width: 50%;
}

.col-1 p:first-child {
  margin-bottom: 5px;
}

.col-2 {
  width: 50%;
}

.col-2 p:first-child {
  margin-bottom: 5px;
}

.detail-p {
  margin-top: 10px;
}

.detail-p p:first-child {
  margin-bottom: 4px;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  font-size: 2.3vh;
}

/* details similar game section */

.similar-games {
  margin-top: 50px;
  text-align: center;
}

.similar-games-list {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* detail / reviews */

.reviews-container {
  margin: 50px auto;
  width: 90vw;
}

.reviews-container h2 {
  margin: 30px auto;
  text-align: center;
}

.review-wrapper {
  width: 100%;
}

.review-detail-wrapper {
  margin: 0 auto 20px auto;
  width: 40%;
  background-color: #404040;
  border: 1px solid #404040;
  border-radius: 10px;
  padding: 10px 15px;
}

.review-detail-wrapper h4 {
  font-size: 3vh;
  font-weight: 700;
}

.review-detail-wrapper p,
span {
  font-size: 3vh;
}

.review-detail-wrapper h4,
p {
  margin-bottom: 20px;
}

.review-detail-wrapper div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plus {
  color: green;
  cursor: pointer;
}

.moins {
  color: tomato;
  cursor: pointer;
}

.no-review {
  padding-top: 20px;
  text-align: center;
  font-size: 4vh;
}

/* Search */

.search-result-wrapper {
  width: 90vw;
  margin: 0 auto;
}

.select-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.select-wrapper select {
  background-color: #404040;
  color: white;
  border: 1px solid #404040;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 2.5vh;
}

.select-container-1 select:nth-child(2) {
  margin-left: 20px;
}

.loading-wrapper {
  margin-top: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-result {
  text-align: center;
  margin: 20px 0;
}

.search-result p {
  margin-top: 10px;
}

/* Login */

.login-wrapper {
  width: 30vw;
  margin: 50px auto;
  text-align: center;
  background-color: #fff;
  color: #404040;
}

.login-wrapper form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-wrapper h2 {
  padding-top: 20px;
}

.login-wrapper form div {
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.login-wrapper form div input {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  border: 1px solid #404040;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.login-button-form {
  margin-top: 50px;
  background-color: #ff4655;
  border: 1px solid #ff4655;
  border-radius: 5px;
  padding: 5px 0;
  width: 80%;
  color: white;
  font-size: 3vh;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.login-wrapper form p {
  margin: 10px 0;
  cursor: pointer;
}

/* My collection */

.my-collection {
  width: 90vw;
  margin: 0 auto;
}

.my-collection h2 {
  text-align: center;

  margin: 30px 0 50px 0;
}

.my-collection-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 20px;
}

/* Review */

.review-wrapper {
  width: 90vw;
  margin: 0 auto;
}

.review-wrapper form {
  width: 50%;
  margin: 0 auto;
  background-color: #404040;
  display: flex;
  flex-direction: column;
  border: 1px solid #1f2023;
  border-radius: 5px;
}

.review-header {
  margin: 100px auto 0 auto;
  width: 50%;
  background-color: #1f2023;
  padding: 5px 5px;
  display: flex;
  justify-content: space-between;
}

.review-header span {
  cursor: pointer;
}

.review-input-wrapper {
  margin: 30px auto;
  width: 80%;
}

.review-input-wrapper:nth-child(2) {
  margin: 20px auto 30px auto;
  width: 80%;
}

.review-input-wrapper input,
textarea {
  margin-top: 10px;
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5vh;
  padding: 10px;
}

.review-input-wrapper input {
  height: 35px;
}

.submit-container {
  width: 80%;
  margin: 10px auto;
  text-align: right;
}

.submit-review {
  background-color: #ff4655;
  border: 1px solid #ff4655;
  border-radius: 5px;
  padding: 5px 0;
  width: 20%;
  color: white;
  font-size: 3vh;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

/* userprofil */

.user-profil-container {
  width: 90vw;
  margin: 0 auto;
}

.user-profil-container h2 {
  text-align: center;
  margin-top: 100px;

  font-weight: 600;
}

.user-profil-wrapper {
  margin: 30px auto;
  width: 50%;
  background-color: #404040;
  border: 1px solid #404040;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

/* .user-img-basic {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.user-img-update {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
} */

.avatar_profil {
  height: 100px !important;
  width: 100px !important;
  object-fit: contain;
  cursor: pointer;
}

.user-profil-wrapper p {
  margin: 20px 0;
  font-size: 3.5vh;
  color: white;
}

.user-profil-wrapper button {
  margin: 20px 0;
  font-size: 3.5vh;
  color: white;
}

.user-profil-wrapper button {
  padding: 5px 10px;
  background-color: black;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.file-input label {
  margin-top: 10px;
  background-color: black;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

input:hover + label,
input:focus + label {
  transform: scale(1.02);
}

.input-sub {
  color: white;
  background-color: black;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

/* media queries */

/* Header */

@media (max-width: 1050px) {
  nav {
    width: 30%;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .header-wrapper {
    flex-direction: column;
    gap: 10px;
  }

  nav {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  nav img {
    height: 5vh;
  }
}

@media (max-width: 600px) {
  nav img {
    height: 4.5vh;
  }
}

/* home */

@media (max-width: 1050px) {
  .searching-input input {
    width: 35%;
  }
  .game {
    width: calc((100% / 4) - 16px);
  }
}

@media (max-width: 768px) {
  .searching-input input {
    width: 50%;
  }

  .game {
    width: calc((100% / 3) - 16px);
  }
}

@media (max-width: 600px) {
  .game {
    width: calc((100% / 2) - 16px);
  }
}

/* Detail */

@media (max-width: 768px) {
  .game-detail-container {
    flex-direction: column;
    height: inherit;
  }

  .game-detail-container img {
    width: 100%;
  }

  .detail-game {
    width: 100%;
  }

  .review-detail-wrapper {
    width: 60%;
  }
}

/* UserProfil */

@media (max-width: 768px) {
  .user-profil-wrapper {
    width: 70%;
  }
}

@media (max-width: 550px) {
  .user-profil-wrapper {
    width: 85%;
  }
}

/* Login */

@media (max-width: 1050px) {
  .login-wrapper {
    width: 40vw;
  }
}

@media (max-width: 768px) {
  .login-wrapper {
    width: 60vw;
  }
}
